<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSFamilyControlsUsageDescription</key>
    <string>This app needs Family Controls to allow you to manage and restrict apps and websites for your profile.</string>
</dict>
</plist>
